@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@400;800&display=swap" rel="stylesheet');

* {
    font-family: 'Poppins', sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 64px;
    color: black;
    margin: (4, 0, 4, 0)
}

.lol {
    background: #11071A;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hero {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80vh
}

.videodiv {
    margin-top: 300px;
}

.headerbox {
    top: 80px;
    position: absolute;
    left: 6%;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 100px;
    width: 500px;
    line-height: 1.5;
}

#text {
    position: absolute;
    font-size: 5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    display: block;
    line-height: 0;
}

#belowtext {
    top: 120px;
    display: block;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#abovetext {
    color: #D59C44
}

#video {
    right: 0;
    bottom: 0;
    min-width: 70%;
    min-height: 70%;
}

.sec {
    position: relative;
    background: #11071B;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec h3 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 300px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    font-family: "Poppins";
}

/* scroller information */
.scroller {
    height: 3.6em;
    line-height: 3.6em;
    position: relative;
    overflow: hidden;
    font-weight: 300;
    color: #fff;
}

.scroller>h2>span {
    position: absolute;
    top: 0;
    animation: slide 10s infinite;
    font-weight: bold;
}

@keyframes slide {
    0% {
        top: 0;
    }

    25% {
        top: -1.2em;
    }

    50% {
        top: -2.4em;
    }

    75% {
        top: -3.6em;
    }
}

/* scrolling thing */


.ticker-div {
    width: 2500px;
    margin-top: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    white-space: nowrap;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 0 0 2px #065b70;
    position: relative;
    background-image: linear-gradient(to right, #782089, #214090);
}

.ticker1 {
    display: inline-block;
    -webkit-animation: tickerframes1 30s linear infinite;
    animation: tickerframes1 30s linear infinite;
}

.ticker2 {
    display: inline-block;
    -webkit-animation: tickerframes2 30s linear infinite;
    animation: tickerframes2 30s linear infinite;
    animation-delay: 15s;
}

@keyframes tickerframes1 {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@keyframes tickerframes2 {
    0% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
    }
}

@-webkit-keyframes tickerframes1 {
    0% {
        -webkit-transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes tickerframes2 {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(-200%);
    }
}

/* box with stuff */
.boxman {
    position: relative;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0;
    margin: 0;
}

.boxsection {
    width: 300px;
    height: 200px;
    margin: 56px 44px 0;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.boxsection img {
    width: 48px;
    height: 48px;
}

/* dropdown */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    border-radius: 4px;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #f9f9f9;
    color: #11071B;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content button {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: none;
    outline: none;
}

.dropdown-content button:hover {
    background-color: #ddd;
}