@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@400;800&display=swap" rel="stylesheet');

* {
    font-family: 'Poppins', sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 64px;
    color: black;
    margin: (4, 0, 4, 0)
}

.lol {
    background: #110f20;
    min-height: 100vh;
    overflow-x: hidden;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

#text {
    position: absolute;
    font-size: 5em;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #110F20;
    padding: 100px
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec h3 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 300px;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    font-family: "Poppins";
}