@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@400;800&display=swap" rel="stylesheet');

/* * {
  font-family: "Poppins", sans-serif;
  color: white;
} */

.dropdown-content {
  color: #11071b;
}

.loading {
  background: #11071b;
}

.sec {
  position: relative;
  background: #11071b;
  padding: 100px;
  height: 100%;
}

.sec1 {
  position: relative;
  background: #11071b;
  padding: 100px;
  height: 100vh;
}

.sec1 h3 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 300;
}

.sec h2 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
}

.sec h3 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 300;
}

.newsbox {
  display: grid;
  max-width: 1000px;
  max-height: 300px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px 0;
  border-bottom: 1px solid white;
}

.newsbox h4 a {
  text-decoration: none;
  color: white;
}

.description {
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .description {
  width: 300px;
  max-height: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
} */


.readmore {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  color: white
}

.newsbox:last-child {
  border-bottom: none;
}

.sec p {
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  font-family: "Poppins";
}

.sec div {
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  font-family: "Poppins";
}

.picture {
  width: 300px;
  height: 200px;
}