@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Lora&family=Poppins:wght@400;800&display=swap');

/* * {
    font-family: 'DotGothic16';
} */

body {
    /* color: white; */
    /* background: #11071B; */
    width: 100vw;
    height: 100vh;
    overflow: none;

}

/* .chart {
    font-family: 'DotGothic16';
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
} */

.stock {
    font-family: 'DotGothic16';
    width: 100%;
    font-size: 13vmin;
    text-align: center;
    /* color: white; */
    left: 120%;
    /* animation: scroll 10s infinite linear; */
}

/* 
@keyframes scroll {
    from {
        left: 100%
    }

    to {
        left: -100%
    }
} */


#candlestick {
    width: 100%;
    height: 150%;
    color: black;
}