
.table a:visited {
  color: #c73bff;
  text-decoration: none
}

.table a:link {
  color: #c73bff;
  text-decoration: none;
}

.table a:hover {
  color: #ffffff;
  text-decoration: none;
}

a {
  color: #c73bff;
  text-decoration: none;
}

.loadingText {
  text-align: center;
}

.removeButton {
  align-content: center;
}

.watchlistPage {
  background: #11071A;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#headerText {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
}


